@import "../styles/_index.scss";

.header {
    width: 100%;
    height: convertPixelToRem(60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-preference);
    box-shadow: var(--theme-box-shadow);
    padding: convertPixelToRem(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.searchContainer {
    display: flex;
    height: convertPixelToRem(40px);
}
.searchIconContainer {
    display: flex;
    justify-content: center;
    width: convertPixelToRem(50px);
    align-items: center;
}
.searchInput {
    > div {
        height: convertPixelToRem(40px);
    }
    fieldset {
        border-color: var(--switch-box) !important;
    }
    input {
        color: var(--theme-body-bold-text) !important;
    }
}
.searchIcon {
    * {
        fill: var(--switch-box);
    }
}
